[submodule "thirdparty/UnityStudioLib"]
	path = thirdparty/UnityStudioLib
	url = https://github.com/OpenMLTD/UnityStudioLib.git
[submodule "thirdparty/MonoGame.Extended2"]
	path = thirdparty/MonoGame.Extended2
	url = https://github.com/hozuki/MonoGame.Extended2.git
[submodule "thirdparty/SharpAL"]
	path = thirdparty/SharpAL
	url = https://github.com/OpenCGSS/SharpAL.git
