[submodule "thirdparty/MimeTypeMap"]
	path = thirdparty/MimeTypeMap
	url = https://github.com/samuelneff/MimeTypeMap.git
[submodule "thirdparty/UnityStudioLib"]
	path = thirdparty/UnityStudioLib
	url = https://github.com/OpenMLTD/UnityStudioLib.git
[submodule "thirdparty/NVorbis"]
	path = thirdparty/NVorbis
	url = https://github.com/OpenMLTD/NVorbis.git
[submodule "thirdparty/NAudio.Vorbis"]
	path = thirdparty/NAudio.Vorbis
	url = https://github.com/OpenMLTD/Vorbis.git
[submodule "thirdparty/NAudio"]
	path = thirdparty/NAudio
	url = https://github.com/OpenMLTD/NAudio.git
[submodule "thirdparty/NLayer"]
	path = thirdparty/NLayer
	url = https://github.com/OpenMLTD/NLayer.git
[submodule "thirdparty/NAudio.Wma"]
	path = thirdparty/NAudio.Wma
	url = https://github.com/OpenMLTD/NAudio.Wma.git
[submodule "thirdparty/NAudio.Flac"]
	path = thirdparty/NAudio.Flac
	url = https://github.com/OpenMLTD/NAudio.Flac.git
