<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net45" />
  <package id="System.Composition" version="1.1.0" targetFramework="net45" />
  <package id="System.Composition.AttributedModel" version="1.1.0" targetFramework="net45" />
  <package id="System.Composition.Convention" version="1.1.0" targetFramework="net45" />
  <package id="System.Composition.Hosting" version="1.1.0" targetFramework="net45" />
  <package id="System.Composition.Runtime" version="1.1.0" targetFramework="net45" />
  <package id="System.Composition.TypedParts" version="1.1.0" targetFramework="net45" />
</packages>